ProyectosNET/PapucplanetWA/Connected Services/Servicio/AlimentoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.papucplanet.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AlimentoWS" targetNamespace="http://services.papucplanet.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PapucplanetWSBL/AlimentoWS?xsd=1" namespace="http://services.papucplanet.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="eliminarAlimento">
    <part name="parameters" element="tns:eliminarAlimento" />
  </message>
  <message name="eliminarAlimentoResponse">
    <part name="parameters" element="tns:eliminarAlimentoResponse" />
  </message>
  <message name="actualizarAlimento">
    <part name="parameters" element="tns:actualizarAlimento" />
  </message>
  <message name="actualizarAlimentoResponse">
    <part name="parameters" element="tns:actualizarAlimentoResponse" />
  </message>
  <message name="insertarAlimento">
    <part name="parameters" element="tns:insertarAlimento" />
  </message>
  <message name="insertarAlimentoResponse">
    <part name="parameters" element="tns:insertarAlimentoResponse" />
  </message>
  <message name="obtenerPorIdAlimento">
    <part name="parameters" element="tns:obtenerPorIdAlimento" />
  </message>
  <message name="obtenerPorIdAlimentoResponse">
    <part name="parameters" element="tns:obtenerPorIdAlimentoResponse" />
  </message>
  <message name="listarAlimentosPorNombre">
    <part name="parameters" element="tns:listarAlimentosPorNombre" />
  </message>
  <message name="listarAlimentosPorNombreResponse">
    <part name="parameters" element="tns:listarAlimentosPorNombreResponse" />
  </message>
  <message name="listarTodosAlimentos">
    <part name="parameters" element="tns:listarTodosAlimentos" />
  </message>
  <message name="listarTodosAlimentosResponse">
    <part name="parameters" element="tns:listarTodosAlimentosResponse" />
  </message>
  <portType name="AlimentoWS">
    <operation name="eliminarAlimento">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/AlimentoWS/eliminarAlimentoRequest" message="tns:eliminarAlimento" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/AlimentoWS/eliminarAlimentoResponse" message="tns:eliminarAlimentoResponse" />
    </operation>
    <operation name="actualizarAlimento">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/AlimentoWS/actualizarAlimentoRequest" message="tns:actualizarAlimento" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/AlimentoWS/actualizarAlimentoResponse" message="tns:actualizarAlimentoResponse" />
    </operation>
    <operation name="insertarAlimento">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/AlimentoWS/insertarAlimentoRequest" message="tns:insertarAlimento" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/AlimentoWS/insertarAlimentoResponse" message="tns:insertarAlimentoResponse" />
    </operation>
    <operation name="obtenerPorIdAlimento">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/AlimentoWS/obtenerPorIdAlimentoRequest" message="tns:obtenerPorIdAlimento" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/AlimentoWS/obtenerPorIdAlimentoResponse" message="tns:obtenerPorIdAlimentoResponse" />
    </operation>
    <operation name="listarAlimentosPorNombre">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/AlimentoWS/listarAlimentosPorNombreRequest" message="tns:listarAlimentosPorNombre" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/AlimentoWS/listarAlimentosPorNombreResponse" message="tns:listarAlimentosPorNombreResponse" />
    </operation>
    <operation name="listarTodosAlimentos">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/AlimentoWS/listarTodosAlimentosRequest" message="tns:listarTodosAlimentos" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/AlimentoWS/listarTodosAlimentosResponse" message="tns:listarTodosAlimentosResponse" />
    </operation>
  </portType>
  <binding name="AlimentoWSPortBinding" type="tns:AlimentoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarAlimento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarAlimento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarAlimento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdAlimento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAlimentosPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosAlimentos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AlimentoWS">
    <port name="AlimentoWSPort" binding="tns:AlimentoWSPortBinding">
      <soap:address location="http://localhost:8080/PapucplanetWSBL/AlimentoWS" />
    </port>
  </service>
</definitions>