ProyectosNET/PapucplanetWA/Connected Services/Servicio/AlimentoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.papucplanet.pucp.edu.pe" targetNamespace="http://services.papucplanet.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarAlimento" type="tns:actualizarAlimento" />
  <xs:element name="actualizarAlimentoResponse" type="tns:actualizarAlimentoResponse" />
  <xs:element name="eliminarAlimento" type="tns:eliminarAlimento" />
  <xs:element name="eliminarAlimentoResponse" type="tns:eliminarAlimentoResponse" />
  <xs:element name="insertarAlimento" type="tns:insertarAlimento" />
  <xs:element name="insertarAlimentoResponse" type="tns:insertarAlimentoResponse" />
  <xs:element name="listarAlimentosPorNombre" type="tns:listarAlimentosPorNombre" />
  <xs:element name="listarAlimentosPorNombreResponse" type="tns:listarAlimentosPorNombreResponse" />
  <xs:element name="listarTodosAlimentos" type="tns:listarTodosAlimentos" />
  <xs:element name="listarTodosAlimentosResponse" type="tns:listarTodosAlimentosResponse" />
  <xs:element name="obtenerPorIdAlimento" type="tns:obtenerPorIdAlimento" />
  <xs:element name="obtenerPorIdAlimentoResponse" type="tns:obtenerPorIdAlimentoResponse" />
  <xs:complexType name="listarTodosAlimentos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosAlimentosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:alimento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alimento">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:consumible">
        <xs:sequence>
          <xs:element name="pesoPromedio" type="xs:double" />
          <xs:element minOccurs="0" name="tipoAlimento" type="tns:tipoAlimento" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="consumible">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="imagenURL" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precio" type="xs:double" />
      <xs:element name="tipo" type="xs:unsignedShort" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAlimento">
    <xs:sequence>
      <xs:element name="idAlimento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAlimentoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAlimento">
    <xs:sequence>
      <xs:element minOccurs="0" name="alimento" type="tns:alimento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAlimentoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdAlimento">
    <xs:sequence>
      <xs:element name="idAlimento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdAlimentoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:alimento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAlimentosPorNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombreAlimento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAlimentosPorNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:alimento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarAlimento">
    <xs:sequence>
      <xs:element minOccurs="0" name="alimento" type="tns:alimento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarAlimentoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoAlimento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SNACK" />
      <xs:enumeration value="CANCHA" />
      <xs:enumeration value="POSTRE" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>