ProyectosNET/PapucplanetWA/Connected Services/Servicio/BebidaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.papucplanet.pucp.edu.pe" targetNamespace="http://services.papucplanet.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarBebida" type="tns:actualizarBebida" />
  <xs:element name="actualizarBebidaResponse" type="tns:actualizarBebidaResponse" />
  <xs:element name="eliminarBebida" type="tns:eliminarBebida" />
  <xs:element name="eliminarBebidaResponse" type="tns:eliminarBebidaResponse" />
  <xs:element name="insertarBebida" type="tns:insertarBebida" />
  <xs:element name="insertarBebidaResponse" type="tns:insertarBebidaResponse" />
  <xs:element name="listarTodasBebidas" type="tns:listarTodasBebidas" />
  <xs:element name="listarTodasBebidasResponse" type="tns:listarTodasBebidasResponse" />
  <xs:element name="obtenerPorIdBebida" type="tns:obtenerPorIdBebida" />
  <xs:element name="obtenerPorIdBebidaResponse" type="tns:obtenerPorIdBebidaResponse" />
  <xs:complexType name="listarTodasBebidas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodasBebidasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:bebida" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bebida">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:consumible">
        <xs:sequence>
          <xs:element name="onzas" type="xs:int" />
          <xs:element name="tieneHielo" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="consumible" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precio" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarBebida">
    <xs:sequence>
      <xs:element minOccurs="0" name="bebida" type="tns:bebida" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarBebidaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarBebida">
    <xs:sequence>
      <xs:element name="idBebida" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarBebidaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarBebida">
    <xs:sequence>
      <xs:element minOccurs="0" name="bebida" type="tns:bebida" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarBebidaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdBebida">
    <xs:sequence>
      <xs:element name="idBebida" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdBebidaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:bebida" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>