ProyectosNET/PapucplanetWA/Connected Services/Servicio/BoletaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.papucplanet.pucp.edu.pe" targetNamespace="http://services.papucplanet.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarBoleta" type="tns:eliminarBoleta" />
  <xs:element name="eliminarBoletaResponse" type="tns:eliminarBoletaResponse" />
  <xs:element name="insertarBoleta" type="tns:insertarBoleta" />
  <xs:element name="insertarBoletaResponse" type="tns:insertarBoletaResponse" />
  <xs:element name="listarTodasBoletas" type="tns:listarTodasBoletas" />
  <xs:element name="listarTodasBoletasResponse" type="tns:listarTodasBoletasResponse" />
  <xs:element name="modificarBoleta" type="tns:modificarBoleta" />
  <xs:element name="modificarBoletaResponse" type="tns:modificarBoletaResponse" />
  <xs:element name="obtenerBoletaPorId" type="tns:obtenerBoletaPorId" />
  <xs:element name="obtenerBoletaPorIdResponse" type="tns:obtenerBoletaPorIdResponse" />
  <xs:complexType name="eliminarBoleta">
    <xs:sequence>
      <xs:element name="idBoleta" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarBoletaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarBoleta">
    <xs:sequence>
      <xs:element minOccurs="0" name="boleta" type="tns:boleta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="boleta">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
      <xs:element minOccurs="0" name="fechaCompra" type="xs:dateTime" />
      <xs:element name="idBoleta" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lineasBoleta" nillable="true" type="tns:lineaBoleta" />
      <xs:element minOccurs="0" name="metodoPago" type="tns:metodoPago" />
      <xs:element name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="sede" type="tns:sede" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element name="genero" type="xs:unsignedShort" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="primerApellido" type="xs:string" />
      <xs:element minOccurs="0" name="segundoApellido" type="xs:string" />
      <xs:element name="tipoUsuario" type="xs:unsignedShort" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sede">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idSede" type="xs:int" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
      <xs:element minOccurs="0" name="universidad" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaBoleta">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="butacaFuncion" type="tns:butacaFuncion" />
      <xs:element name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="consumible" type="tns:consumible" />
      <xs:element name="idLineaBoleta" type="xs:int" />
      <xs:element name="subtotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="butacaFuncion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:butaca">
        <xs:sequence>
          <xs:element minOccurs="0" name="estado" type="tns:estadoButaca" />
          <xs:element minOccurs="0" name="funcion" type="tns:funcion" />
          <xs:element name="idButacaFuncion" type="xs:int" />
          <xs:element name="precio" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="butaca">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="columna" type="xs:int" />
      <xs:element name="discapacitado" type="xs:boolean" />
      <xs:element name="fila" type="xs:unsignedShort" />
      <xs:element name="idButaca" type="xs:int" />
      <xs:element minOccurs="0" name="sala" type="tns:sala" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="funcion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="butacasFuncion" nillable="true" type="tns:butacaFuncion" />
      <xs:element minOccurs="0" name="dia" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horarioFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horarioInicio" type="xs:dateTime" />
      <xs:element name="idFuncion" type="xs:int" />
      <xs:element minOccurs="0" name="pelicula" type="tns:pelicula" />
      <xs:element minOccurs="0" name="sala" type="tns:sala" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pelicula">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="duracion" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="funciones" nillable="true" type="tns:funcion" />
      <xs:element minOccurs="0" name="genero" type="tns:genero" />
      <xs:element name="idPelicula" type="xs:int" />
      <xs:element minOccurs="0" name="imagenPromocional" type="xs:string" />
      <xs:element minOccurs="0" name="sinopsis" type="xs:string" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sala">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="capacidad" type="xs:int" />
      <xs:element name="idSala" type="xs:int" />
      <xs:element name="numCol" type="xs:int" />
      <xs:element name="numFila" type="xs:int" />
      <xs:element name="numeroSala" type="xs:int" />
      <xs:element minOccurs="0" name="sede" type="tns:sede" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consumible" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="imagenURL" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precio" type="xs:double" />
      <xs:element name="tipo" type="xs:unsignedShort" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarBoletaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerBoletaPorId">
    <xs:sequence>
      <xs:element name="idBoleta" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerBoletaPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:boleta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarBoleta">
    <xs:sequence>
      <xs:element minOccurs="0" name="boleta" type="tns:boleta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarBoletaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodasBoletas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodasBoletasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:boleta" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoButaca">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISPONIBLE" />
      <xs:enumeration value="OCUPADA" />
      <xs:enumeration value="RESERVADA" />
      <xs:enumeration value="MANTENIMIENTO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="genero">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACCION" />
      <xs:enumeration value="COMEDIA" />
      <xs:enumeration value="DRAMA" />
      <xs:enumeration value="DOCUMENTAL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="metodoPago">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TARJETA_CREDITO" />
      <xs:enumeration value="TARJETA_DEBITO" />
      <xs:enumeration value="BILLETERA_ELECTRONICA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>