ProyectosNET/PapucplanetWA/Connected Services/Servicio/BoletaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.papucplanet.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="BoletaWS" targetNamespace="http://services.papucplanet.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PapucplanetWSBL/BoletaWS?xsd=1" namespace="http://services.papucplanet.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="obtenerBoletaPorId">
    <part name="parameters" element="tns:obtenerBoletaPorId" />
  </message>
  <message name="obtenerBoletaPorIdResponse">
    <part name="parameters" element="tns:obtenerBoletaPorIdResponse" />
  </message>
  <message name="eliminarBoleta">
    <part name="parameters" element="tns:eliminarBoleta" />
  </message>
  <message name="eliminarBoletaResponse">
    <part name="parameters" element="tns:eliminarBoletaResponse" />
  </message>
  <message name="modificarBoleta">
    <part name="parameters" element="tns:modificarBoleta" />
  </message>
  <message name="modificarBoletaResponse">
    <part name="parameters" element="tns:modificarBoletaResponse" />
  </message>
  <message name="listarTodasBoletas">
    <part name="parameters" element="tns:listarTodasBoletas" />
  </message>
  <message name="listarTodasBoletasResponse">
    <part name="parameters" element="tns:listarTodasBoletasResponse" />
  </message>
  <message name="insertarBoleta">
    <part name="parameters" element="tns:insertarBoleta" />
  </message>
  <message name="insertarBoletaResponse">
    <part name="parameters" element="tns:insertarBoletaResponse" />
  </message>
  <portType name="BoletaWS">
    <operation name="obtenerBoletaPorId">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/BoletaWS/obtenerBoletaPorIdRequest" message="tns:obtenerBoletaPorId" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/BoletaWS/obtenerBoletaPorIdResponse" message="tns:obtenerBoletaPorIdResponse" />
    </operation>
    <operation name="eliminarBoleta">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/BoletaWS/eliminarBoletaRequest" message="tns:eliminarBoleta" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/BoletaWS/eliminarBoletaResponse" message="tns:eliminarBoletaResponse" />
    </operation>
    <operation name="modificarBoleta">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/BoletaWS/modificarBoletaRequest" message="tns:modificarBoleta" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/BoletaWS/modificarBoletaResponse" message="tns:modificarBoletaResponse" />
    </operation>
    <operation name="listarTodasBoletas">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/BoletaWS/listarTodasBoletasRequest" message="tns:listarTodasBoletas" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/BoletaWS/listarTodasBoletasResponse" message="tns:listarTodasBoletasResponse" />
    </operation>
    <operation name="insertarBoleta">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/BoletaWS/insertarBoletaRequest" message="tns:insertarBoleta" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/BoletaWS/insertarBoletaResponse" message="tns:insertarBoletaResponse" />
    </operation>
  </portType>
  <binding name="BoletaWSPortBinding" type="tns:BoletaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerBoletaPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarBoleta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarBoleta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasBoletas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarBoleta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="BoletaWS">
    <port name="BoletaWSPort" binding="tns:BoletaWSPortBinding">
      <soap:address location="http://localhost:8080/PapucplanetWSBL/BoletaWS" />
    </port>
  </service>
</definitions>