ProyectosNET/PapucplanetWA/Connected Services/Servicio/ButacaFuncionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.papucplanet.pucp.edu.pe" targetNamespace="http://services.papucplanet.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarButacaFuncion" type="tns:eliminarButacaFuncion" />
  <xs:element name="eliminarButacaFuncionResponse" type="tns:eliminarButacaFuncionResponse" />
  <xs:element name="insertarButacaFuncion" type="tns:insertarButacaFuncion" />
  <xs:element name="insertarButacaFuncionResponse" type="tns:insertarButacaFuncionResponse" />
  <xs:element name="listarTodosButacaFuncion" type="tns:listarTodosButacaFuncion" />
  <xs:element name="listarTodosButacaFuncionResponse" type="tns:listarTodosButacaFuncionResponse" />
  <xs:element name="modificarButacaFuncion" type="tns:modificarButacaFuncion" />
  <xs:element name="modificarButacaFuncionResponse" type="tns:modificarButacaFuncionResponse" />
  <xs:element name="obtenerButacasPorFuncionButacaFuncion" type="tns:obtenerButacasPorFuncionButacaFuncion" />
  <xs:element name="obtenerButacasPorFuncionButacaFuncionResponse" type="tns:obtenerButacasPorFuncionButacaFuncionResponse" />
  <xs:element name="obtenerPorIdButacaFuncion" type="tns:obtenerPorIdButacaFuncion" />
  <xs:element name="obtenerPorIdButacaFuncionResponse" type="tns:obtenerPorIdButacaFuncionResponse" />
  <xs:complexType name="obtenerPorIdButacaFuncion">
    <xs:sequence>
      <xs:element name="idButacaFuncion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdButacaFuncionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:butacaFuncion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="butacaFuncion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:butaca">
        <xs:sequence>
          <xs:element minOccurs="0" name="estado" type="tns:estadoButaca" />
          <xs:element minOccurs="0" name="funcion" type="tns:funcion" />
          <xs:element name="idButacaFuncion" type="xs:int" />
          <xs:element name="precio" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="butaca">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="columna" type="xs:int" />
      <xs:element name="discapacitado" type="xs:boolean" />
      <xs:element name="fila" type="xs:unsignedShort" />
      <xs:element name="idButaca" type="xs:int" />
      <xs:element minOccurs="0" name="sala" type="tns:sala" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="funcion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="dia" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horarioFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horarioInicio" type="xs:dateTime" />
      <xs:element name="idFuncion" type="xs:int" />
      <xs:element minOccurs="0" name="pelicula" type="tns:pelicula" />
      <xs:element minOccurs="0" name="sala" type="tns:sala" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pelicula">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="duracion" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="funciones" nillable="true" type="tns:funcion" />
      <xs:element minOccurs="0" name="genero" type="tns:genero" />
      <xs:element name="idPelicula" type="xs:int" />
      <xs:element minOccurs="0" name="imagenPromocional" type="xs:string" />
      <xs:element minOccurs="0" name="sinopsis" type="xs:string" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sala">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="capacidad" type="xs:int" />
      <xs:element name="idSala" type="xs:int" />
      <xs:element name="numCol" type="xs:int" />
      <xs:element name="numFila" type="xs:int" />
      <xs:element name="numeroSala" type="xs:int" />
      <xs:element minOccurs="0" name="sede" type="tns:sede" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sede">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idSede" type="xs:int" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
      <xs:element minOccurs="0" name="universidad" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarButacaFuncion">
    <xs:sequence>
      <xs:element minOccurs="0" name="butacaFuncion" type="tns:butacaFuncion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarButacaFuncionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerButacasPorFuncionButacaFuncion">
    <xs:sequence>
      <xs:element name="idFuncion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerButacasPorFuncionButacaFuncionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:butacaFuncion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosButacaFuncion">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosButacaFuncionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:butacaFuncion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarButacaFuncion">
    <xs:sequence>
      <xs:element name="idButacaFuncion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarButacaFuncionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarButacaFuncion">
    <xs:sequence>
      <xs:element minOccurs="0" name="butacaFuncion" type="tns:butacaFuncion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarButacaFuncionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoButaca">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISPONIBLE" />
      <xs:enumeration value="OCUPADA" />
      <xs:enumeration value="RESERVADA" />
      <xs:enumeration value="MANTENIMIENTO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="genero">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACCION" />
      <xs:enumeration value="COMEDIA" />
      <xs:enumeration value="DRAMA" />
      <xs:enumeration value="DOCUMENTAL" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>