ProyectosNET/PapucplanetWA/Connected Services/Servicio/ButacaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.papucplanet.pucp.edu.pe" targetNamespace="http://services.papucplanet.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarButaca" type="tns:eliminarButaca" />
  <xs:element name="eliminarButacaResponse" type="tns:eliminarButacaResponse" />
  <xs:element name="insertarButaca" type="tns:insertarButaca" />
  <xs:element name="insertarButacaResponse" type="tns:insertarButacaResponse" />
  <xs:element name="listarButacasXSala" type="tns:listarButacasXSala" />
  <xs:element name="listarButacasXSalaResponse" type="tns:listarButacasXSalaResponse" />
  <xs:element name="listarTodosButaca" type="tns:listarTodosButaca" />
  <xs:element name="listarTodosButacaResponse" type="tns:listarTodosButacaResponse" />
  <xs:element name="modificarButaca" type="tns:modificarButaca" />
  <xs:element name="modificarButacaResponse" type="tns:modificarButacaResponse" />
  <xs:element name="obtenerPorIdButaca" type="tns:obtenerPorIdButaca" />
  <xs:element name="obtenerPorIdButacaResponse" type="tns:obtenerPorIdButacaResponse" />
  <xs:complexType name="modificarButaca">
    <xs:sequence>
      <xs:element minOccurs="0" name="butaca" type="tns:butaca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="butaca">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="columna" type="xs:int" />
      <xs:element name="discapacitado" type="xs:boolean" />
      <xs:element name="fila" type="xs:unsignedShort" />
      <xs:element name="idButaca" type="xs:int" />
      <xs:element minOccurs="0" name="sala" type="tns:sala" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sala">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="capacidad" type="xs:int" />
      <xs:element name="idSala" type="xs:int" />
      <xs:element name="numCol" type="xs:int" />
      <xs:element name="numFila" type="xs:int" />
      <xs:element name="numeroSala" type="xs:int" />
      <xs:element minOccurs="0" name="sede" type="tns:sede" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sede">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idSede" type="xs:int" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
      <xs:element minOccurs="0" name="universidad" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarButacaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosButaca">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosButacaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:butaca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarButaca">
    <xs:sequence>
      <xs:element minOccurs="0" name="butaca" type="tns:butaca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarButacaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdButaca">
    <xs:sequence>
      <xs:element name="idButaca" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdButacaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:butaca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarButaca">
    <xs:sequence>
      <xs:element name="idButaca" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarButacaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarButacasXSala">
    <xs:sequence>
      <xs:element name="idSala" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarButacasXSalaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:butaca" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>