ProyectosNET/PapucplanetWA/Connected Services/Servicio/ClienteWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.papucplanet.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ClienteWS" targetNamespace="http://services.papucplanet.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PapucplanetWSBL/ClienteWS?xsd=1" namespace="http://services.papucplanet.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="obtenerClientePorId">
    <part name="parameters" element="tns:obtenerClientePorId" />
  </message>
  <message name="obtenerClientePorIdResponse">
    <part name="parameters" element="tns:obtenerClientePorIdResponse" />
  </message>
  <message name="eliminarCliente">
    <part name="parameters" element="tns:eliminarCliente" />
  </message>
  <message name="eliminarClienteResponse">
    <part name="parameters" element="tns:eliminarClienteResponse" />
  </message>
  <message name="insertarCliente">
    <part name="parameters" element="tns:insertarCliente" />
  </message>
  <message name="insertarClienteResponse">
    <part name="parameters" element="tns:insertarClienteResponse" />
  </message>
  <message name="modificarCliente">
    <part name="parameters" element="tns:modificarCliente" />
  </message>
  <message name="modificarClienteResponse">
    <part name="parameters" element="tns:modificarClienteResponse" />
  </message>
  <message name="listarTodosClientes">
    <part name="parameters" element="tns:listarTodosClientes" />
  </message>
  <message name="listarTodosClientesResponse">
    <part name="parameters" element="tns:listarTodosClientesResponse" />
  </message>
  <portType name="ClienteWS">
    <operation name="obtenerClientePorId">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/ClienteWS/obtenerClientePorIdRequest" message="tns:obtenerClientePorId" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/ClienteWS/obtenerClientePorIdResponse" message="tns:obtenerClientePorIdResponse" />
    </operation>
    <operation name="eliminarCliente">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/ClienteWS/eliminarClienteRequest" message="tns:eliminarCliente" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/ClienteWS/eliminarClienteResponse" message="tns:eliminarClienteResponse" />
    </operation>
    <operation name="insertarCliente">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/ClienteWS/insertarClienteRequest" message="tns:insertarCliente" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/ClienteWS/insertarClienteResponse" message="tns:insertarClienteResponse" />
    </operation>
    <operation name="modificarCliente">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/ClienteWS/modificarClienteRequest" message="tns:modificarCliente" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/ClienteWS/modificarClienteResponse" message="tns:modificarClienteResponse" />
    </operation>
    <operation name="listarTodosClientes">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/ClienteWS/listarTodosClientesRequest" message="tns:listarTodosClientes" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/ClienteWS/listarTodosClientesResponse" message="tns:listarTodosClientesResponse" />
    </operation>
  </portType>
  <binding name="ClienteWSPortBinding" type="tns:ClienteWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerClientePorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosClientes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ClienteWS">
    <port name="ClienteWSPort" binding="tns:ClienteWSPortBinding">
      <soap:address location="http://localhost:8080/PapucplanetWSBL/ClienteWS" />
    </port>
  </service>
</definitions>