ProyectosNET/PapucplanetWA/Connected Services/Servicio/CuentaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.papucplanet.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CuentaWS" targetNamespace="http://services.papucplanet.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PapucplanetWSBL/CuentaWS?xsd=1" namespace="http://services.papucplanet.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="insertarCuenta">
    <part name="parameters" element="tns:insertarCuenta" />
  </message>
  <message name="insertarCuentaResponse">
    <part name="parameters" element="tns:insertarCuentaResponse" />
  </message>
  <message name="obtenerCuentaPorId">
    <part name="parameters" element="tns:obtenerCuentaPorId" />
  </message>
  <message name="obtenerCuentaPorIdResponse">
    <part name="parameters" element="tns:obtenerCuentaPorIdResponse" />
  </message>
  <message name="verificarCuenta">
    <part name="parameters" element="tns:verificarCuenta" />
  </message>
  <message name="verificarCuentaResponse">
    <part name="parameters" element="tns:verificarCuentaResponse" />
  </message>
  <message name="modificarCuenta">
    <part name="parameters" element="tns:modificarCuenta" />
  </message>
  <message name="modificarCuentaResponse">
    <part name="parameters" element="tns:modificarCuentaResponse" />
  </message>
  <message name="eliminarCuenta">
    <part name="parameters" element="tns:eliminarCuenta" />
  </message>
  <message name="eliminarCuentaResponse">
    <part name="parameters" element="tns:eliminarCuentaResponse" />
  </message>
  <message name="listarTodasCuentas">
    <part name="parameters" element="tns:listarTodasCuentas" />
  </message>
  <message name="listarTodasCuentasResponse">
    <part name="parameters" element="tns:listarTodasCuentasResponse" />
  </message>
  <portType name="CuentaWS">
    <operation name="insertarCuenta">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/CuentaWS/insertarCuentaRequest" message="tns:insertarCuenta" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/CuentaWS/insertarCuentaResponse" message="tns:insertarCuentaResponse" />
    </operation>
    <operation name="obtenerCuentaPorId">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/CuentaWS/obtenerCuentaPorIdRequest" message="tns:obtenerCuentaPorId" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/CuentaWS/obtenerCuentaPorIdResponse" message="tns:obtenerCuentaPorIdResponse" />
    </operation>
    <operation name="verificarCuenta">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/CuentaWS/verificarCuentaRequest" message="tns:verificarCuenta" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/CuentaWS/verificarCuentaResponse" message="tns:verificarCuentaResponse" />
    </operation>
    <operation name="modificarCuenta">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/CuentaWS/modificarCuentaRequest" message="tns:modificarCuenta" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/CuentaWS/modificarCuentaResponse" message="tns:modificarCuentaResponse" />
    </operation>
    <operation name="eliminarCuenta">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/CuentaWS/eliminarCuentaRequest" message="tns:eliminarCuenta" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/CuentaWS/eliminarCuentaResponse" message="tns:eliminarCuentaResponse" />
    </operation>
    <operation name="listarTodasCuentas">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/CuentaWS/listarTodasCuentasRequest" message="tns:listarTodasCuentas" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/CuentaWS/listarTodasCuentasResponse" message="tns:listarTodasCuentasResponse" />
    </operation>
  </portType>
  <binding name="CuentaWSPortBinding" type="tns:CuentaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarCuenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerCuentaPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="verificarCuenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCuenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCuenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasCuentas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CuentaWS">
    <port name="CuentaWSPort" binding="tns:CuentaWSPortBinding">
      <soap:address location="http://localhost:8080/PapucplanetWSBL/CuentaWS" />
    </port>
  </service>
</definitions>