ProyectosNET/PapucplanetWA/Connected Services/Servicio/FuncionWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.papucplanet.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="FuncionWS" targetNamespace="http://services.papucplanet.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PapucplanetWSBL/FuncionWS?xsd=1" namespace="http://services.papucplanet.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="obtenerFuncionesPorPeliculaFuncion">
    <part name="parameters" element="tns:obtenerFuncionesPorPeliculaFuncion" />
  </message>
  <message name="obtenerFuncionesPorPeliculaFuncionResponse">
    <part name="parameters" element="tns:obtenerFuncionesPorPeliculaFuncionResponse" />
  </message>
  <message name="obtenerPorIdFuncion">
    <part name="parameters" element="tns:obtenerPorIdFuncion" />
  </message>
  <message name="obtenerPorIdFuncionResponse">
    <part name="parameters" element="tns:obtenerPorIdFuncionResponse" />
  </message>
  <message name="eliminarFuncion">
    <part name="parameters" element="tns:eliminarFuncion" />
  </message>
  <message name="eliminarFuncionResponse">
    <part name="parameters" element="tns:eliminarFuncionResponse" />
  </message>
  <message name="modificarFuncion">
    <part name="parameters" element="tns:modificarFuncion" />
  </message>
  <message name="modificarFuncionResponse">
    <part name="parameters" element="tns:modificarFuncionResponse" />
  </message>
  <message name="listarTodosFuncion">
    <part name="parameters" element="tns:listarTodosFuncion" />
  </message>
  <message name="listarTodosFuncionResponse">
    <part name="parameters" element="tns:listarTodosFuncionResponse" />
  </message>
  <message name="insertarFuncion">
    <part name="parameters" element="tns:insertarFuncion" />
  </message>
  <message name="insertarFuncionResponse">
    <part name="parameters" element="tns:insertarFuncionResponse" />
  </message>
  <portType name="FuncionWS">
    <operation name="obtenerFuncionesPorPeliculaFuncion">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/FuncionWS/obtenerFuncionesPorPeliculaFuncionRequest" message="tns:obtenerFuncionesPorPeliculaFuncion" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/FuncionWS/obtenerFuncionesPorPeliculaFuncionResponse" message="tns:obtenerFuncionesPorPeliculaFuncionResponse" />
    </operation>
    <operation name="obtenerPorIdFuncion">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/FuncionWS/obtenerPorIdFuncionRequest" message="tns:obtenerPorIdFuncion" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/FuncionWS/obtenerPorIdFuncionResponse" message="tns:obtenerPorIdFuncionResponse" />
    </operation>
    <operation name="eliminarFuncion">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/FuncionWS/eliminarFuncionRequest" message="tns:eliminarFuncion" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/FuncionWS/eliminarFuncionResponse" message="tns:eliminarFuncionResponse" />
    </operation>
    <operation name="modificarFuncion">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/FuncionWS/modificarFuncionRequest" message="tns:modificarFuncion" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/FuncionWS/modificarFuncionResponse" message="tns:modificarFuncionResponse" />
    </operation>
    <operation name="listarTodosFuncion">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/FuncionWS/listarTodosFuncionRequest" message="tns:listarTodosFuncion" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/FuncionWS/listarTodosFuncionResponse" message="tns:listarTodosFuncionResponse" />
    </operation>
    <operation name="insertarFuncion">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/FuncionWS/insertarFuncionRequest" message="tns:insertarFuncion" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/FuncionWS/insertarFuncionResponse" message="tns:insertarFuncionResponse" />
    </operation>
  </portType>
  <binding name="FuncionWSPortBinding" type="tns:FuncionWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerFuncionesPorPeliculaFuncion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdFuncion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarFuncion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarFuncion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosFuncion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarFuncion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="FuncionWS">
    <port name="FuncionWSPort" binding="tns:FuncionWSPortBinding">
      <soap:address location="http://localhost:8080/PapucplanetWSBL/FuncionWS" />
    </port>
  </service>
</definitions>