ProyectosNET/PapucplanetWA/Connected Services/Servicio/LineaBoletaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.papucplanet.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="LineaBoletaWS" targetNamespace="http://services.papucplanet.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PapucplanetWSBL/LineaBoletaWS?xsd=1" namespace="http://services.papucplanet.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="insertarLineaBoleta">
    <part name="parameters" element="tns:insertarLineaBoleta" />
  </message>
  <message name="insertarLineaBoletaResponse">
    <part name="parameters" element="tns:insertarLineaBoletaResponse" />
  </message>
  <message name="listarTodosLineaBoleta">
    <part name="parameters" element="tns:listarTodosLineaBoleta" />
  </message>
  <message name="listarTodosLineaBoletaResponse">
    <part name="parameters" element="tns:listarTodosLineaBoletaResponse" />
  </message>
  <message name="modificarLineaBoleta">
    <part name="parameters" element="tns:modificarLineaBoleta" />
  </message>
  <message name="modificarLineaBoletaResponse">
    <part name="parameters" element="tns:modificarLineaBoletaResponse" />
  </message>
  <message name="eliminarLineaBoleta">
    <part name="parameters" element="tns:eliminarLineaBoleta" />
  </message>
  <message name="eliminarLineaBoletaResponse">
    <part name="parameters" element="tns:eliminarLineaBoletaResponse" />
  </message>
  <message name="obtenerPorIdLineaBoleta2">
    <part name="parameters" element="tns:obtenerPorIdLineaBoleta2" />
  </message>
  <message name="obtenerPorIdLineaBoleta2Response">
    <part name="parameters" element="tns:obtenerPorIdLineaBoleta2Response" />
  </message>
  <portType name="LineaBoletaWS">
    <operation name="insertarLineaBoleta">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/LineaBoletaWS/insertarLineaBoletaRequest" message="tns:insertarLineaBoleta" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/LineaBoletaWS/insertarLineaBoletaResponse" message="tns:insertarLineaBoletaResponse" />
    </operation>
    <operation name="listarTodosLineaBoleta">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/LineaBoletaWS/listarTodosLineaBoletaRequest" message="tns:listarTodosLineaBoleta" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/LineaBoletaWS/listarTodosLineaBoletaResponse" message="tns:listarTodosLineaBoletaResponse" />
    </operation>
    <operation name="modificarLineaBoleta">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/LineaBoletaWS/modificarLineaBoletaRequest" message="tns:modificarLineaBoleta" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/LineaBoletaWS/modificarLineaBoletaResponse" message="tns:modificarLineaBoletaResponse" />
    </operation>
    <operation name="eliminarLineaBoleta">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/LineaBoletaWS/eliminarLineaBoletaRequest" message="tns:eliminarLineaBoleta" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/LineaBoletaWS/eliminarLineaBoletaResponse" message="tns:eliminarLineaBoletaResponse" />
    </operation>
    <operation name="obtenerPorIdLineaBoleta2">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/LineaBoletaWS/obtenerPorIdLineaBoleta2Request" message="tns:obtenerPorIdLineaBoleta2" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/LineaBoletaWS/obtenerPorIdLineaBoleta2Response" message="tns:obtenerPorIdLineaBoleta2Response" />
    </operation>
  </portType>
  <binding name="LineaBoletaWSPortBinding" type="tns:LineaBoletaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarLineaBoleta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosLineaBoleta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarLineaBoleta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarLineaBoleta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdLineaBoleta2">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="LineaBoletaWS">
    <port name="LineaBoletaWSPort" binding="tns:LineaBoletaWSPortBinding">
      <soap:address location="http://localhost:8080/PapucplanetWSBL/LineaBoletaWS" />
    </port>
  </service>
</definitions>