ProyectosNET/PapucplanetWA/Connected Services/Servicio/PeliculaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.papucplanet.pucp.edu.pe" targetNamespace="http://services.papucplanet.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminar" type="tns:eliminar" />
  <xs:element name="eliminarResponse" type="tns:eliminarResponse" />
  <xs:element name="insertar" type="tns:insertar" />
  <xs:element name="insertarResponse" type="tns:insertarResponse" />
  <xs:element name="listarGeneros" type="tns:listarGeneros" />
  <xs:element name="listarGenerosResponse" type="tns:listarGenerosResponse" />
  <xs:element name="listarPorNombre" type="tns:listarPorNombre" />
  <xs:element name="listarPorNombreResponse" type="tns:listarPorNombreResponse" />
  <xs:element name="listarTodos" type="tns:listarTodos" />
  <xs:element name="listarTodosResponse" type="tns:listarTodosResponse" />
  <xs:element name="modificar" type="tns:modificar" />
  <xs:element name="modificarResponse" type="tns:modificarResponse" />
  <xs:element name="obtenerPorId" type="tns:obtenerPorId" />
  <xs:element name="obtenerPorIdResponse" type="tns:obtenerPorIdResponse" />
  <xs:complexType name="listarGeneros">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarGenerosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:genero" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pelicula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pelicula">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="duracion" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="funciones" nillable="true" type="tns:funcion" />
      <xs:element minOccurs="0" name="genero" type="tns:genero" />
      <xs:element name="idPelicula" type="xs:int" />
      <xs:element minOccurs="0" name="imagenPromocional" type="xs:string" />
      <xs:element minOccurs="0" name="sinopsis" type="xs:string" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="funcion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="dia" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horarioFin" type="tns:localTime" />
      <xs:element minOccurs="0" name="horarioInicio" type="tns:localTime" />
      <xs:element name="idFuncion" type="xs:int" />
      <xs:element minOccurs="0" name="pelicula" type="tns:pelicula" />
      <xs:element minOccurs="0" name="sala" type="tns:sala" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="sala">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="capacidad" type="xs:int" />
      <xs:element name="idSala" type="xs:int" />
      <xs:element name="numeroSala" type="xs:int" />
      <xs:element minOccurs="0" name="sede" type="tns:sede" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sede">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idSede" type="xs:int" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
      <xs:element minOccurs="0" name="universidad" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="pelicula" type="tns:pelicula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminar">
    <xs:sequence>
      <xs:element name="idPelicula" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:sede" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sede">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idSede" type="xs:int" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
      <xs:element minOccurs="0" name="universidad" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="pelicula" type="tns:pelicula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorId">
    <xs:sequence>
      <xs:element name="idPelicula" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:pelicula" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="genero">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACCION" />
      <xs:enumeration value="COMEDIA" />
      <xs:enumeration value="DRAMA" />
      <xs:enumeration value="DOCUMENTAL" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>