ProyectosNET/PapucplanetWA/Connected Services/Servicio/PeliculaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.papucplanet.pucp.edu.pe" targetNamespace="http://services.papucplanet.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarPelicula" type="tns:eliminarPelicula" />
  <xs:element name="eliminarPeliculaResponse" type="tns:eliminarPeliculaResponse" />
  <xs:element name="insertarPelicula" type="tns:insertarPelicula" />
  <xs:element name="insertarPeliculaResponse" type="tns:insertarPeliculaResponse" />
  <xs:element name="listarGeneros" type="tns:listarGeneros" />
  <xs:element name="listarGenerosResponse" type="tns:listarGenerosResponse" />
  <xs:element name="listarPorNombrePelicula" type="tns:listarPorNombrePelicula" />
  <xs:element name="listarPorNombrePeliculaResponse" type="tns:listarPorNombrePeliculaResponse" />
  <xs:element name="listarTodosPelicula" type="tns:listarTodosPelicula" />
  <xs:element name="listarTodosPeliculaResponse" type="tns:listarTodosPeliculaResponse" />
  <xs:element name="modificarPelicula" type="tns:modificarPelicula" />
  <xs:element name="modificarPeliculaResponse" type="tns:modificarPeliculaResponse" />
  <xs:element name="obtenerPorIdPelicula" type="tns:obtenerPorIdPelicula" />
  <xs:element name="obtenerPorIdPeliculaResponse" type="tns:obtenerPorIdPeliculaResponse" />
  <xs:complexType name="listarTodosPelicula">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosPeliculaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pelicula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pelicula">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="duracion" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="funciones" nillable="true" type="tns:funcion" />
      <xs:element minOccurs="0" name="genero" type="tns:genero" />
      <xs:element name="idPelicula" type="xs:int" />
      <xs:element minOccurs="0" name="imagenPromocional" type="xs:string" />
      <xs:element minOccurs="0" name="sinopsis" type="xs:string" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="funcion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="dia" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horarioFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horarioInicio" type="xs:dateTime" />
      <xs:element name="idFuncion" type="xs:int" />
      <xs:element minOccurs="0" name="pelicula" type="tns:pelicula" />
      <xs:element minOccurs="0" name="sala" type="tns:sala" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sala">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="capacidad" type="xs:int" />
      <xs:element name="idSala" type="xs:int" />
      <xs:element name="numeroSala" type="xs:int" />
      <xs:element minOccurs="0" name="sede" type="tns:sede" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sede">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idSede" type="xs:int" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
      <xs:element minOccurs="0" name="universidad" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPelicula">
    <xs:sequence>
      <xs:element minOccurs="0" name="pelicula" type="tns:pelicula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPeliculaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarGeneros">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarGenerosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:genero" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPelicula">
    <xs:sequence>
      <xs:element name="idPelicula" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPeliculaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdPelicula">
    <xs:sequence>
      <xs:element name="idPelicula" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdPeliculaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:pelicula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorNombrePelicula">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorNombrePeliculaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pelicula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPelicula">
    <xs:sequence>
      <xs:element minOccurs="0" name="pelicula" type="tns:pelicula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPeliculaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="genero">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACCION" />
      <xs:enumeration value="COMEDIA" />
      <xs:enumeration value="DRAMA" />
      <xs:enumeration value="DOCUMENTAL" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>