ProyectosNET/PapucplanetWA/Connected Services/Servicio/ReporteWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.papucplanet.pucp.edu.pe" targetNamespace="http://services.papucplanet.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="reporteSedes" type="tns:reporteSedes" />
  <xs:element name="reporteSedesResponse" type="tns:reporteSedesResponse" />
  <xs:complexType name="reporteSedes">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:dateTime" />
      <xs:element minOccurs="0" name="arg1" type="xs:dateTime" />
      <xs:element minOccurs="0" name="arg2" type="tns:sede" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sede">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idSede" type="xs:int" />
      <xs:element minOccurs="0" name="ubicacion" type="xs:string" />
      <xs:element minOccurs="0" name="universidad" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteSedesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>