ProyectosNET/PapucplanetWA/Connected Services/Servicio/ReporteWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.papucplanet.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ReporteWS" targetNamespace="http://services.papucplanet.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PapucplanetWSBL/ReporteWS?xsd=1" namespace="http://services.papucplanet.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="reportePorPelicula">
    <part name="parameters" element="tns:reportePorPelicula" />
  </message>
  <message name="reportePorPeliculaResponse">
    <part name="parameters" element="tns:reportePorPeliculaResponse" />
  </message>
  <message name="UnsupportedEncodingException">
    <part name="fault" element="tns:UnsupportedEncodingException" />
  </message>
  <message name="reporteBoleta">
    <part name="parameters" element="tns:reporteBoleta" />
  </message>
  <message name="reporteBoletaResponse">
    <part name="parameters" element="tns:reporteBoletaResponse" />
  </message>
  <message name="reporteSedes">
    <part name="parameters" element="tns:reporteSedes" />
  </message>
  <message name="reporteSedesResponse">
    <part name="parameters" element="tns:reporteSedesResponse" />
  </message>
  <portType name="ReporteWS">
    <operation name="reportePorPelicula">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/ReporteWS/reportePorPeliculaRequest" message="tns:reportePorPelicula" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/ReporteWS/reportePorPeliculaResponse" message="tns:reportePorPeliculaResponse" />
      <fault wsam:Action="http://services.papucplanet.pucp.edu.pe/ReporteWS/reportePorPelicula/Fault/UnsupportedEncodingException" name="UnsupportedEncodingException" message="tns:UnsupportedEncodingException" />
    </operation>
    <operation name="reporteBoleta">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/ReporteWS/reporteBoletaRequest" message="tns:reporteBoleta" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/ReporteWS/reporteBoletaResponse" message="tns:reporteBoletaResponse" />
      <fault wsam:Action="http://services.papucplanet.pucp.edu.pe/ReporteWS/reporteBoleta/Fault/UnsupportedEncodingException" name="UnsupportedEncodingException" message="tns:UnsupportedEncodingException" />
    </operation>
    <operation name="reporteSedes">
      <input wsam:Action="http://services.papucplanet.pucp.edu.pe/ReporteWS/reporteSedesRequest" message="tns:reporteSedes" />
      <output wsam:Action="http://services.papucplanet.pucp.edu.pe/ReporteWS/reporteSedesResponse" message="tns:reporteSedesResponse" />
    </operation>
  </portType>
  <binding name="ReporteWSPortBinding" type="tns:ReporteWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="reportePorPelicula">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="UnsupportedEncodingException">
        <soap:fault use="literal" name="UnsupportedEncodingException" namespace="" />
      </fault>
    </operation>
    <operation name="reporteBoleta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="UnsupportedEncodingException">
        <soap:fault use="literal" name="UnsupportedEncodingException" namespace="" />
      </fault>
    </operation>
    <operation name="reporteSedes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ReporteWS">
    <port name="ReporteWSPort" binding="tns:ReporteWSPortBinding">
      <soap:address location="http://localhost:8080/PapucplanetWSBL/ReporteWS" />
    </port>
  </service>
</definitions>